@use '../../styles/abstracts/index.scss' as *;

.landing-container {
  position: relative;
  display: flex; // Usamos flexbox para el layout principal

  .landing-main {
    flex-grow: 1; // El contenido principal crece para ocupar el espacio restante
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
}
