@use '../../../styles/abstracts/index.scss' as *;

.section {
  height: 100vh;
  scroll-snap-aling: start;
  display: grid;
  place-items: center;
  font-size: 3rem;
} 

.home-section{
  background-color: var(--color-bg-primary);
  color:var(--color-font);
}
