@use '../../styles/abstracts/index' as *;

.container-header {
  border-bottom: 1px solid var(--color-line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.25rem;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-bg-primary);
  width: 100%;
  z-index: 999;

  &-logo {
    font-weight: 800;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color: var(--color-font);
  }

  &-nav {
    ul {
      display: flex;
      list-style-type: none;
      gap: 2.5rem;

      li {
        font-size: 0.85rem;
        cursor: pointer;
        color: var(----color-font-muted);
        letter-spacing: 0.03em;
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
