@use '../../../../styles/abstracts/index' as *;

.servicio-item {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .content-wrapper {
    width: 100%;
  }

  .content-type {
    display: block;
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
  }

  .content-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .content-description {
    font-size: 1.15rem;
    line-height: 1.6;
  }
}
