@use '../../styles/abstracts/index.scss' as *;

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  width: $sidebar-width;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-line);

  .sidebar-container-nav {
    pointer-events: auto;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      list-style: none;
      display: contents;
      flex-direction: column;
      gap: 1rem;
    }

    a {
      display: block;
      padding: 1rem 1.5rem;
      text-decoration: none;
      color: var(--color-font-secondary);
      font-weight: 500;
      transition:
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;

      &:hover {
        color: var(--color-primary);
        background-color: var(--color-hover--secondary);
      }

      &.active {
        color: var(--color-secondary-logo);
        font-weight: 700;
      }
    }
  }
}

// Estilos para la sub-lista que se despliega
.sub-nav {
  list-style: none;
  padding-left: 2rem;
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    font-size: 0.9rem; // Un poco más pequeño que los enlaces principales
    font-weight: 400;

    // Estilo para el sub-item activo
    &.active {
      border-right: 5px solid red;
      color: var(--color-red-alert-opacity);
      font-weight: 600;
      background-color: var(--color-secondary-logo-light);
    }
  }
}

// Estilo para el enlace padre cuando está activo
a.parent {
  color: var(--color-primary);
  font-weight: 700;
}
