@use '../../styles/abstracts/index.scss' as *;

.sidebar-container {
  position: sticky;
  left: 0;
  z-index: 20;
  width: $sidebar-width;
  height: auto;
  flex-direction: column;
  border-right: 1px solid var(--color-line);
  align-self: flex-start;
  background: var(--color-bg-primary);

  .sidebar-container-nav {
    position: fixed;
    pointer-events: auto;
    height: 60vh;
    width: 300px;
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: space-between;
    width: calc($sidebar-width - 40px);
    padding-top: 20px;

    ul {
      list-style: none;
      display: contents;
      flex-direction: column;
    }

    a {
      display: block;
      padding: 1rem;
      text-decoration: none;
      color: var(--color-font-secondary);
      font-weight: 300;
      font-size: 0.9rem;
      transition:
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;

      &:hover {
        color: var(--color-primary);
        background-color: var(--color-hover--secondary);
      }

      &.active {
        color: var(--color-secondary-logo);
      }
    }
  }
}

// Estilos para la sub-lista que se despliega
.sub-nav {
  list-style: none;
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    font-size: 0.9rem; // Un poco más pequeño que los enlaces principales
    font-weight: 300;

    // Estilo para el sub-item activo
    &.active {
      border-right: 3px solid red;
      color: var(--color-red-alert-opacity);
      background-color: var(--color-secondary-logo-light);
    }
  }
}

// Estilo para el enlace padre cuando está activo
a.parent {
  color: var(--color-primary);
  font-weight: 700;
}

.button-contact {
  width: 100%;
  padding: 0.5rem;

  button {
    border: none;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-bg-primary);
    color: var(--color-primary);
    font-weight: 600;
    cursor: pointer;
    text-align: right;
    transition: background-color 0.2s ease-in-out;
    border-radius: 3px;

    &:hover {
      background-color: var(--color-primary-dark);
    }
  }
}
