.hero-section {
  height: 60vh;
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
  position: relative;
  overflow: hidden;

  .hero-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
  }

  .hero-title {
    font-size: 3rem;
    color: #333;
  }

  .hero-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 0.1; // Reducido para no interferir visualmente
  }
}
